<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/userStyle.css" />
    <title>New Password</title>
  </head>

  <body>
    <form class="userForm" method="POST" action="/new-password">
      <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required><br>
      </div>
      <div class="button-box">
        <button type="submit">Set New Password</button>
      </div>
    </form>
  </body>
</html>
