<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/userStyle.css" />
    <title>Reset Password</title>
  </head>
  <body>
    <% if (typeof message !== 'undefined') { %>
    <p class="error-message"><%= message %> </p>
    <% } %>

    <form class="userForm" method="POST" action="/reset-password">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="button-box">
        <button type="submit">Reset Password</button>
      </div>
      <p>
        You will receive an email to reset your password shortly. If not, please
        check your spam folder or try again
      </p>
      
    </form>
  </body>
</html>
